:root {
  --main-bg-color: #f3f2f0;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
}

.home,
.exam,
.students,
.groups,
.reports,
.account,
.logout,
.billing {
  height: 90vh;
  align-items: center;
  justify-content: center;
}

div .selector .button {

  background-color: hsl(211, 23%, 42%);
  margin: .1rem;
  color: var(--main-bg-color);
  border-radius: .3;
  border: 10px solid var(--main-bg-color);
}

.selector .MuiButtonBase-root {
  background-color: hsl(211, 23%, 42%);
  color: white;
  opacity: 1;
}

.selector .Mui-selected {
  background: #ffffff;
  color: black;
}

.selector .MuiTabs-indicator {
  background-color: black;
}

.selector .button:focus {
  color: hsl(211, 23%, 42%);
  background-color: white;
  border-color: white;
  z-index: 1;
  height: 100%;
}

.exam-container {
  background-color: white;
}





ul,
li {
  margin: 0;
}

#root {
  display: flex;
}


div .form {
  background-color: var(--main-bg-color);
}



.exam {
  height: 100%;
  flex: 1 1 auto;
  width: calc(100% - 100px);
  padding: 0 30px;
}


.Sidebar {
  width: 150px;
  background-color: #3e5a78;
  display: inline-block;
  opacity: .8;
  background-color: hsl(211, 23%, 42%);
  display: inline-block;


  top: 0%;
  min-height: 100vh;
  position: relative;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  padding-top: 10vh;
}

.Sidebar .row {
  width: 100%;
  height: 5rem;
  list-style-type: none;
  margin: 0;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}



li a {
  text-decoration: none;
}



.SidebarList .row:hover {
  cursor: pointer;
  color: black;
}

.SidebarList li[data-active="true"] {
  background-color: black;
}

.SidebarList li[data-active="true"]:hover {
  color: white;
}

.row #icon {
  flex: 30%;
  display: grid;
  font-size: 6rem;
  place-items: center;
  color: white;
}

.row #title {
  flex: 70%;
  font-size: 1.25rem;
  color: white;
}

@media screen and (min-height: 768px) {
  .SidebarList .row:last-child {
    position: absolute;
    bottom: 50px;
    bottom: 0;


  }
}

@media screen and (max-width: 767px) {
  .SidebarList {
    padding-top: 0vh;
  }
}